   /* Mejoras visuales */
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        h1, h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        .game-cover {
            text-align: center;
            margin-bottom: 40px;
        }

        .game-cover img {
            width: 100%;
            max-width: 500px;
            border-radius: 10px;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        }

        .synopsis {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
            margin-bottom: 40px;
        }

        .requirements ul {
            list-style: none;
            padding-left: 0;
        }

        .requirements ul li {
            background-color: #f0f0f0;
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;

        }

        .btn {
            padding: 15px 25px;
            font-size: 18px;
        }

        iframe {
            border-radius: 10px;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
        }
